In [39]:
import pandas as pd
import numpy as np
nlo_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')

In [40]:
nlo_df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [84]:
nlo_df['Time']= pd.to_datetime(nlo_df['Time'],dayfirst=False)
display(nlo_df['Time'].mode())
nlo_df['Date'] = nlo_df['Time'].dt.date
nlo_df['di']= nlo_df['Date'].diff
nlo_df[nlo_df['State'] == 'NV']['Date'].diff().mean()





#nlo_df['State']['Date'].diff(axis=1)

0   1999-11-16 19:00:00
Name: Time, dtype: datetime64[ns]

Timedelta('68 days 22:18:13.992932862')