In [1]:
import pandas as pd

In [2]:

orders_df= pd.read_csv('C:\IDE\SkillFactory\PY_12_\orders\orders.csv',sep = ';')

In [ ]:
orders_df.head()

                                Дата создания;Order ID;ID Покупателя;Статус;Оплачен;Отменен;Отгружен;ID товара;Количество
09.11.2019 21:55:51;9;10;Принят                 ожидается оплата;Нет;Нет;Нет;103;5
09.11.2019 15:05:57;8;9;Принят                 ожидается оплата;Нет;Нет;Нет;86;100
09.11.2019 15:05:57;8;9;Принят                 ожидается оплата;Нет;Нет;Нет;104;10
09.11.2019 12:50:07;7;8;Принят                  ожидается оплата;Нет;Нет;Нет;104;7
09.11.2019 12:00:00;6;1;Принят                  ожидается оплата;Нет;Нет;Нет;104;5

In [ ]:
products_df = pd.read_csv('C:\IDE\SkillFactory\PY_12_\orders\products.csv',sep=';')

Объедините заданные таблицы в таблицу orders_products, чтобы в результирующей таблице оказалась информация обо всех заказах, но не оказалось информации о продуктах, на которых заказов ещё не поступало.

In [ ]:
orders_products = orders_df.merge(
    products_df, 
    left_on='ID товара',
    right_on='Product_ID',
    how='left')
orders_products[orders_products['Name'].isna()]

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

На какой товар была произведена отмена?
В качестве ответа запишите название этого товара (Name).

In [ ]:
orders_products.head()

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104.0,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104.0,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104.0,"Носки Подарочные, жен",249.0,RUR

In [ ]:
orders_products[orders_products['Отменен'] == 'Да']['Name']

6    Носки беговые Camino
Name: Name, dtype: object

Какой покупатель принёс наибольшую суммарную прибыль интернет-магазину за указанный период?
В ответ запишите идентификатор этого покупателя (ID Покупателя).
Прибыль состоит только из оплаченных заказов и рассчитывается как количество купленного товара, умноженное на его цену.

In [ ]:
orders_products['Profit'] = orders_products['Price'] * orders_products['Количество'] 
orders_products[orders_products['Оплачен'] == 'Да'].groupby('ID Покупателя')['Profit'].sum().sort_values(ascending=False)

ID Покупателя
7    17096.0
5    13043.0
8     1344.0
1        0.0
Name: Profit, dtype: float64